.vscode/
target/
pom.xml
src/test/
.github/
src/main/resources/plugin.yml

src/main/resources/config.yml
src/main/resources/evolution.yml
src/main/resources/menus.yml
src/main/resources/IMPORTANT.txt
src/main/resources/lang/messages_en.yml
src/main/resources/lang/messages_es.yml
src/main/resources/extra_lang/config_es.yml
src/main/resources/extra_lang/menus_es.yml

src/main/java/org/zkaleejoo/MaxTools.java
src/main/java/org/zkaleejoo/commands/MainCommand.java
src/main/java/org/zkaleejoo/config/MainConfigManager.java
src/main/java/org/zkaleejoo/config/CustomConfig.java
src/main/java/org/zkaleejoo/storage/CustomToolDatabase.java
src/main/java/org/zkaleejoo/listeners/ToolEvolutionListener.java
src/main/java/org/zkaleejoo/evolution/ToolEvolutionManager.java
src/main/java/org/zkaleejoo/evolution/MilestoneConfigParser.java
src/main/java/org/zkaleejoo/evolution/abilities/AbilityHandlerRegistry.java
src/main/java/org/zkaleejoo/evolution/abilities/AreaBreakAbilityHandler.java
src/main/java/org/zkaleejoo/evolution/abilities/SelfRepairAbilityHandler.java
src/main/java/org/zkaleejoo/evolution/abilities/VeinMinerAbilityHandler.java
